html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
    background-color: #eee8d5;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #073642;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

button {
    background-color: #cb4b16;
    font-size: 14px;
    color: #eee8d5;
    padding: 0.5em;
    margin: 0.1em;
    border: none;
    border-radius: 0.1em;
    box-shadow: 0 0.2em #eb7847;
}

button:hover {
    background-color: #e86830;
    box-shadow: 0 0.3em #f09a75;
}

button:active {
    background-color: #a13d12;
    box-shadow: 0 0.15em #e65719;
}

button:disabled {
    background-color: #c07859;
    box-shadow: 0 0.15em #d5a590;
}

.codetext {
    background-color: transparent !important;
    color: transparent !important;
    z-index: 1;
    resize: none;
}

/* Highlighting Style */
.code-literal-string, .code-literal-integer, .code-literal-float {
    color: #2aa198;
}

.code-identifier {
    color: #268bd2;
}

.code-keyword {
    color: #859900;
    font-weight: bold;
}

.code-comment {
    color: #657b83;
}

/* ---- */

.codehighlight {
    z-index: 0;
}

.codecorestyle {
    font-family: monospace;
    font-size: 16px;
    line-height: 20px;
    caret-color: white;
    background-color: #002b36;
    color: #839496;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: columns;
    flex-wrap: wrap;
}

#play-slider {
    flex-grow: 1;
}

.codetext, .codehighlight {
    white-space: pre;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: calc(100% - 0.8rem);
    height: calc(100% - 0.8rem);
    padding: 3px;
    margin: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.25em;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-grow: 1;
}

.codebox {
    width: 50%;
    position: relative;
}

.outputconsole {
    background-color: #073642;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: pre;
    overflow: auto;
    padding: 3px;
    margin: 5px;
    width: 50%;
}

@media only screen and (max-width: 620px) {
    .container {
        flex-direction: column;
    }
    
    .codebox, .outputconsole {
        height: 50%;
        width: auto;
    }
}
